body{
	margin: 0;
	padding: 0;
	font-family: "黑体";
}
.my_item{
	width: 100%;
	height: 85px;
	background-color: #ffffff;
	margin-bottom: 10px;
}
.my_item_ico{
	width: 35px;
	height: 85px;
	float: left;
}
.my_item_ico img{
	width: 22px;
	height: 22px;
	position: relative;
	margin-top: 30px;
	margin-left: 10px;
}
.my_item_goodico{
	width: 80px;
	height: 85px;
	float: left;
}
.my_item_goodico img{
	width: 60px;
	height: 60px;
	position: relative;
	
	margin-top: 14px;
	
	margin-left: 10px;
}
.my_item_gooddesc{
	width: 35%;
	float: left;
	padding-top: 22px;
	font-size: 12px;
	line-height: 1.2;
}
.my_item_price{
	width: 40px;
	float: right;
	padding-top: 22px;
	text-align: right;
	font-size: 13px;
	line-height: 1.2;
}
.my_item_opt{
	width: 15%;
	float: right;
	padding-top: 30px;
	text-align: center;
	font-size: 13px;
}

.my_bottom{
	border-top:1px solid #CFCFCF ;
	position: fixed;
	width: 100%;
	height: 44px;
	float: right;
	bottom: 44px;
	
	background-color: #ffffff;
}
.my_pay{
	width: 100%;
	height: 44px;
}
.my_td1{
	width: 33%;
	height: 44px;
}
.my_td1 img{
	width: 22px;
	height: 22px;
	position: relative;
	margin-top: px;
	margin-left: 10px;
	float: left;
}
.my_td1 span{
	float: left;
	color: #CFCFCF;
	font-size: 15px;
	margin-left: 5px;
}
.my_td2{
	width: 34%;
	color: rgb(252,89,89);
	text-align: center;
	font-size: 15px;
}
.my_td3{
	padding: 5px;
	width: 33%;
}



