body{
	background-color: #FFFFFF;
}
.product-collected-list-item{
	height: 145px;
	width: 100%;
	margin-top: 8px;
	border:1px solid #EEEEEE;
	border-top:none;
	
}
.product-collected-list-item .left{
	float: left;
	padding-left: 5px;
	height: 100px;
	width: 40%;
}
.product-collected-list-item .left img{
	
	height: 145px;
	width: 100%;
}
.product-collected-list-item .right{
	width: 60%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	float: right;
	font-size: 15px;
}
.product-collected-list-item .right .right-top{
	font-size: 13px;
	color: #424242;	
	height: 40px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.product-collected-list-item .right .right-buttom{
	padding-top: 75px;
	color: #FC4F4F;
}
.product-end{
	width: 100%;
	height: 20px;
	color: #797979;
	font-size: 14px;
	padding-top: 20px;
	text-align: center;
}




















