.col-sm-2 {
	width: 10%;
}

.main {
	margin: 30px;
}

.div_table {
	width: 93%;
	display: inline;
	float: right
}

.two_button {
	width: 100%;
	padding-left: 82px;
}

.btn1 {
	width: 50px;
	height: 35px;
	background-color: #007aff;
	color: #ffffff;
	border: 1px solid #007aff;
}

.btn2 {
	width: 50px;
	height: 35px;
	background-color: #f3f3f3;
	border: 1px solid #e7e7eb;
}

.font_position {
	text-align: center;
}

.font_position a:link {
	color: #007aff;
	text-decoration: none;
}

.font_position a:visited {
	color: #007aff;
	text-decoration: none;
}

.font_position a:hover {
	color: #007aff;
	text-decoration: none;
}

.font_position a:active {
	color: #007aff;
	text-decoration: none;
}
.in input{
	width: 65px;
	height:30px;
	border: 1px solid #e7e7eb;
	text-align: center;
	font-size: 14px;
}
.in{
	width: 10%;
}
.tin{
	width: 40%;
}
#td_addArea textarea{
	rows:2; 
	width:400px; 
	background-color:#FFFFFF;
	border: 1px solid #e7e7eb;
	font-size: 14px;
	readonly:readonly;
	disabled:disabled;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: bottom;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
}













.black_overlay{
     display: none; 
     position: absolute;  
     top: 0%;  
     left: 0%;  
     width: 100%;  
     height: 100%;  
     background-color: #808080;  
     z-index:1001;  
     -moz-opacity: 0.8;  
     opacity:.80;  
     filter: alpha(opacity=80);  
} 
.white_content {
     display: none;  
     position: absolute; 
     top: 15%; 
     left: 25%; 
     width: 45%; 
     height: 444px; 
     border: 1px solid #e7e7eb; 
     background-color: white; 
     z-index:1002;
     overflow: auto;
     border-radius:5px;
     margin-top: 15px;
}
.content-title{
	width: 100%;
	height: 45px;
	background-color: #F4F5F9;
	line-height: 45px;
}
.content-title span{
	margin-left:20px;
	font-size: 15px;
}
.content-buttom{
	width: 100%;
	height: 45px;
	background-color: #F4F5F9;
	line-height: 45px;
	position:absolute;
	bottom:0;
}
.content-buttom-group{
	margin-right:10px;
	float: right;
}
.my-btn{
	height: 30px;
	width: 45px;
	border: 1px solid #e7e7eb;
	line-height: 20px;  
	margin-right: 20px; 
	border-radius:4px;
}
.my-btn-quit{
	background-color: #D2D2D5;
}
.my-btn-submit{
	background-color: #007AFF;
	color: #FFFFFF;
}

.middle-content{
	width: 450px;
	height: 278px;
	margin: auto;
}
.middle-content-left{
	border:1px solid #EDEAEA;
	width: 150px;
	height:312px;
	float: left;
}
.middle-content-center {
	width: 150px;
	height: 100%;
	float: left;
}
.middle-content-right{
	border:1px solid #EDEAEA;
	width: 150px;
	height:312px;
	float: right;
}
.middle-content-left div{
	height: 30px;
	width: 100%;
	background-color:#F4F5F9;
	line-height: 30px;
	text-align: center;
}
.middle-content-right div{
	height: 30px;
	width: 100%;
	background-color:#F4F5F9;
	line-height: 30px;
	text-align: center;
}
.content-body{
	padding-top: 20px;
	height: 354px;
	padding-bottom: 15px;
}
.select-left{
	width: 100%;
	text-align: center;
	border:1px solid #EDEAEA;
}
.select-right{
	width: 100%;
	text-align: center;
	border:1px solid #EDEAEA;
}

.button-group{
	padding-top: 100px;
}
.button-group button{
	display: block;
	margin: auto;
	border:1px solid #EDEAEA;
	height:30px;
	width: 45px;
	margin-top: 20px;
}






















