.JiFenContent{
	background-color: #FFFFFF;
	height: 130px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 0px;
	border-radius:5px; 
}
.JiFenContent-div{
	width: 92%;
	height: 33.3%;
	margin-left: 4%;
	margin-right: 4%;
}
.iFenContent-div-top span{
	font-size: 13px;
	font-weight: 600;
	color: #9E9E9E;
	line-height: 41px;
}
.iFenContent-div-top button{
	margin-top: 7px;
	font-size: 13px;
	color: #9E9E9E;
	height: 30px;
	float: right;
	padding: 3px 6px;
	border-radius:5px;
}
.JiFenContent-div-middle span{
	float: left;
	font-size: 38px;
	line-height: 38px;
	color: #69C20A;
}
.JiFenContent-div-middle p{
	float: left;
	color: #69C20A;
	padding-top: 10px;
}
.JiFenContent-div-buttom button{
	width: 100%;
	height: 85%;
	color: #FFFFFF;
	background-color: #FE6D47;
}

.recent{
	height: 40px;
	color: #5A5A5B;
	font-size: 15px;
	margin-left: 15px;
	line-height: 40px;
}
.recent-content{
	height: 150px;
	color: #696969;
	background-color: #FFFFFF;
	line-height: 150px;
	text-align: center;
}


























